<section>
  <div class="page-header">
    <h1>Nutzer <span ng-bind="user.username"></span> bearbeiten</h1>
  </div>
  <div class="col-md-12">
    <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">Vorname</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="Vorname" required />
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Vorname wird benötigt.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">Administrationslevel</label>
          <div class="controls">
              <ui-select ng-model="user.selectedRole" name="clanrang">
                <ui-select-match placeholder="Rolle auswählen...">{{user.roles[0]}}</ui-select-match>
                <ui-select-choices repeat="role in roles track by $index">
                  <span ng-bind="role"></span>
                </ui-select-choices>
              </ui-select>
              <div ng-messages="userForm.clanrang.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Ein Clanrang wird benötigt.</p>
              </div>
            <div ng-messages="userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Eine Rolle wird benötigt.</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="clanrang">Clanrang</label>
          <div class="controls">
            <ui-select ng-model="user.selectedRang" name="clanrang">
              <ui-select-match placeholder="Clanrang auswählen...">{{user.clanrang[0]}}</ui-select-match>
              <ui-select-choices repeat="rang in clanrangs track by $index">
                <span ng-bind="rang"></span>
              </ui-select-choices>
            </ui-select>
            <div ng-messages="userForm.clanrang.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Ein Clanrang wird benötigt.</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" value="Speichern" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
