<section class="user-detail">
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="user.username"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 content">
      <div class="row">
        <div class="col-md-3"><strong>Vorname</strong></div>
        <div class="col-md-6" ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Alter</strong></div>
        <div class="col-md-6">{{calculateAge(user.birthDate)}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Geburtstag</strong></div>
        <div class="col-md-6">{{ user.birthDate | date : 'dd.MM.yyyy'}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Anmeldedatum</strong></div>
        <div class="col-md-6">{{ user.created | date : 'dd.MM.yyyy @ HH:mm'}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Steamprofil-Link</strong></div>
        <div class="col-md-6"><a ng-bind="user.steamprofile" href="{{user.steamprofile}}" target="_blank"></a></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Rolle</strong></div>
        <div class="col-md-6" ng-bind="user.roles"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Clanrang</strong></div>
        <div class="col-md-6" ng-bind="user.clanrang"></div>
      </div>
    </div>
  </div>
</section>
