body {
  position: relative;
  background-image: url("../img/01MainBackground.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 70px;
}
body .nav li a img {
  width: 20px;
}
body .page-header {
  border-bottom: 1px solid #b41336;
}
body .page-header h1 {
  color: #b41336;
}
body .form-group label {
  color: #9E9E9E;
}
body .error-text {
  color: #b41336;
}
body .chat-message {
  background-color: white;
}
body .chat-message .chat-profile-image {
  margin-top: 5px;
}
body .chat-message .chat-message-details {
  padding-bottom: 5px;
}
